body {
  background-color: rgb(247, 200, 209, 255);
}

.otsikko {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "FreeMono", monospace;
  font-weight: 300;
}
.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  font-family: "FreeMono", monospace;
  font-weight: 100;
}

.nav {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 16px;
  display: flex;
  margin-right: 20px;
  color: aliceblue;
  font-size: x-large;
}

.nav p {
  margin-right: 20px;
  font-family: "FreeMono", monospace;
  font-weight: 300;
}

img {
  width: auto;
  height: auto;
  object-fit: contain;
  max-width: 99%;
  max-height: 99%;
  position: relative;
}

.header {
  position: relative;
  text-align: center;
}

.works {
  display: flexbox;
}

.works p {
  font-family: "FreeMono", monospace;
  font-weight: 300;
  text-align: center;
}
.works h3 {
  font-family: "FreeMono", monospace;
  font-weight: 300;
  text-align: center;
}
