body {
  background-color: antiquewhite;
}

.otsikko {
  text-align: center;
}

.nav {
  text-align: right;
  position: absolute;
  display: flex;
  right: 0;
  margin-right: 20px;
}

.nav p {
  margin-right: 20px;
}
